@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #725940;
  background: url("/images/bg1.jpg") repeat fixed top center;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

#title {
  min-height: 75px;
}

#title > img {
  width: 75px;
  height: 75px;
}

#title > p {
  color: #fffbee;
  margin-left: 10px;
  font-size: 2em;
  font-weight: bolder;
}

.top.column {
  /* background: #fdf7e4; */
  /* padding: 10px; */
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  /* box-shadow: 1px -1px 4px rgb(0 0 0 / 15%); */
}

.top.column > .row {
  background: #fdf7e4;
  border: 0px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px -1px 4px rgb(0 0 0 / 15%);
  padding: 10px;
  margin-bottom: 5px;
}

.top,
.bottom {
  margin: 5px 10px;
}

textarea {
  margin: 0px;
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #777;
  border-radius: 10px;
  outline-color: #977e65;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row > form {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.bottom > .column {
  flex: 1;
}

.bottom > .row {
  flex: 1;
  min-height: 300px;
}

.column:first-child {
  padding-right: 10px;
}

.content {
  height: 100%;
}

.content > div {
  height: 100%;
  /* max-width: 50%; */
}

.bottom.content {
  display: flex;
  background: #fdf7e4;
  flex-direction: row;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px -1px 4px rgb(0 0 0 / 15%);
  padding: 10px;
}

.bottom > .row:nth-child(1) {
  margin-right: 5px;
}

.bottom > .row:nth-child(2) {
  margin-left: 5px;
}

.shift_duration {
  max-width: 60px;
  height: 35px;
  border: 1px solid #777;
  border-radius: 10px;
  outline-color: #977e65;
}

.shift_duration:last-child {
  max-width: 80px;
}

.button-regular {
  border: 1px solid #777;
  border-radius: 10px;
  background: #977e65;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.resync {
  min-width: 120px;
  height: 38px;
  margin-left: 14px;
}

@media screen and (max-width: 664px) {
  #title > img {
    width: 60px;
    height: 60px;
  }

  #title > p {
    font-size: 1.6em;
  }

  .bottom.content {
    display: flex;
    flex-direction: column;
  }

  .bottom > .row:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .bottom > .row:nth-child(2) {
    margin-left: 0px;
    margin-top: 10px;
  }

  .row > form {
    display: flex;
    flex-direction: column;
  }

  .row > form > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .shift_duration {
    max-width: none;
    height: 35px;
    width: 100%;
    margin: 3px;
  }

  .shift_duration:last-child {
    max-width: none;
  }

  .shift_duration_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .resync {
    margin-left: 0px;
  }
}

@media screen and (max-width: 484px) {
  #title > img {
    width: 45px;
    height: 45px;
  }

  #title > p {
    font-size: 1.2em;
  }
}

/* @media screen and (max-width: 364px) {
  #title > img {
    width: 30px;
    height: 30px;
  }

  #title > p {
    font-size: 1.0em;
  }
} */
